// Colors
$clr1: #161515;
$clr2: #fff;
$clr3: #f2931b;
$clr4: rgb(109, 24, 219);
$clr5: rgb(130, 228, 130);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
